<head> </head>
<body>
  <router-outlet>"RegisreraResultat"</router-outlet>
  <div>
    <table>
      <thead>
        <tr>
          <th>Förnamn</th>
          <th>Efternamn</th>
          <th>Kurskod</th>
          <th>Examinationstyp</th>
          <th>Omdöme</th>
          <th>Betyg</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ ladoklist.fNamn }}</td>
          <td>{{ ladoklist.eNamn }}</td>
          <td>{{ ladoklist.kursKod }}</td>
          <td>{{ ladoklist.benaming }}</td>
          <td>{{ ladoklist.omdome }}</td>
          <td><app-table >
              <input >
              {{ ladoklist.betyg }}
          </td>
          <td>
            <div>
              <input >
            </div>
            <div>
              {{ ladoklist.status }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
